<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('.partials/head') %>
    <link rel="stylesheet" href="/css/productos.css">
<<<<<<< HEAD
=======
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Nunito+Sans:wght@800&family=Rubik+Pixels&display=swap" rel="stylesheet">

>>>>>>> c482744c4a2e4a934d9018573cacc494b3603fc6
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    
    <h1 class="titulo">Productos</h1>
    
    <section class="lista-productos">
      
      <article class="producto">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
      
      <article class="producto">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
      
      <article class="producto">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
      
      <article class="producto" id="productoUno">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
    </section>
    
    <h1 class="tituloRecomendado">Recomendado para tí</h1>
    
    <section class="lista-recomendados">
      
      <article class="producto">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
      
      <article class="producto">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
      
      <article class="producto">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
      
      <article class="producto" id="productoDos">
        <img src="https://www.karvi.com.ar/blog/wp-content/uploads/2020/10/208II3-850x567.jpg" alt="Auto">
        <h2>Nombre del Auto</h2>
        <p>Descripción breve del auto.</p>
        <span class="precio">$20,000</span>
        <a href="#" class="btn">Ver Detalles</a>
      </article>
    </section>
    
  </main>
  <%- include('../partials/footer') %>
</body>
</html>

