<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
    
<body>
    <header>
        <section>
    <div class="product-info">
      <div class="product-image"> <img src="ruta_imagen_producto.jpg" alt="Imagen del Producto"></div>
      <div class="product-details">
        <div class="product-title"><h1>auto modelo</h1></div>
        <div class="product-description">especificaciones</div>
        <div class="product-price">Precio:</div>
        <div class="product-$">$150000</div>
        <div class="compartir">compartir</div>
        <br>
        <br>
        <a href=# class="consultar">consultar</a>
        <a href=# class="reservar">reservar</a>
      </div>
    </div>
        </section>
    </header>
    <br>
    <br>
    <main>
        <div class="cajas">
        <div class="bloque1">car</div>
        <div class="bloque1">con</div>
        <div class="bloque1">seg</div>
        </div>
        <br>
        <hr>

        <div class="ficha-tecnica">
            <div class="ficha">ficha tecnica</div>
        </div>
    </main>
    <br>
    <br>
    <br>
    <footer>
        <section>
        <div class="copy">
            <p>copyright 2023 ConsecionariaSN</p>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore veritatis, natus quaerat pariatur harum doloribus impedit 
                praesentium sed perspiciatis eum, ipsa nobis cum debitis error! 
                Culpa voluptates reiciendis expedita eaque.</p>
        </div>
        </section>
    </footer>
</body>
</html>


//estilos

/*body*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
/*header*/

  .product-info {
    display: flex;
    margin-top: 20px;
  }
  .product-image {
    flex: 0 0 200px;
    margin-right: 650px;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
  }
  .product-price {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
  }
  .compartir{
    border: none;
    color: black;
    border: solid;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
 }
  .consultar {
    background-color: white;
    border: solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
 .reservar{
    background-color: #888;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
 }

/*main*/

.bloque1{
  border: none;
  color: black;
  border: solid;
  padding: 120px 100px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.cajas{
    display: flex;
    justify-content: space-around;
}

.ficha{
  border: none;
  color: black;
  border: solid;
  padding: 20px 100px;
  text-align: left;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

/*footer*/

footer{
  margin: 0%;
  padding: 0%;
}

.lorem{
  width: 30%;
  display: inline-block;
  text-align: left;
}

estilos//