<!DOCTYPE html>
<html>
<head>
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="contenedor">
    <div class="seccion-izquierda">
      <div class="caja-login">
        <h2>Iniciar Sesión</h2>
        <form>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>

          <label for="contraseña">Contraseña:</label>
          <input type="contraseña" id="contraseña" name="contraseña" required>

          <input type="checkbox" id="sesion-iniciada" name="sesion-iniciada">
          <label for="sesion-iniciada">Mantener sesión iniciada</label>

          <button type="submit">Iniciar Sesión</button>
        </form>

        <a href="#">¿No tienes cuenta? Regístrate aquí</a>
      </div>
    </div>

    <div class="seccion-derecha">
      <div class="caja-invitado">
        <h2>Continuar como invitado</h2>
        <button>Ir</button>
      </div>
    </div>

    <div class="divisor"></div>

    <div class="circulo-o">O</div>
  </div>
</body>
</html>
