<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../public/css/login.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="head">
      <img src="../public/img/Logo.png" alt="Logo"  width= "30%">
        <div>
        <a href="login.html"><i class="fas fa-user-circle" style="color: #ffffff;"></i></a>
        <a href="productCart.html"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></a>
        <a href="" id="burger"><i class="fas fa-bars" style="color: #ffffff;"></i></a> 
      </div>   
    </div>
    <div id="barra">
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </nav>
      <form action="/" method="POST">
        <button type="submit" id="boton"><i class="fas fa-search" style="color: #000000;"></i></button>
        <input type="text" placeholder="Buscar..." name="Buscar" id="buscar">
      </form>
    </div>
  </header>
  <main>
      <section>
          <h2>Iniciar Sesión</h2>
          <form id="Iniciar">
              <input type="email" id="email" name="email" required class="inicio" placeholder="Email">
      
              <input type="contraseña" id="contraseña" name="contraseña" required class="inicio" placeholder="Contraseña">
            
            <p>
              <input type="checkbox" id="sesion-iniciada" name="sesion-iniciada" class="inicio"> 
              <label for="sesion-iniciada">Mantener sesión iniciada</label>
            
            </p>
            
            <button type="submit" class="inicio">Iniciar Sesión</button>

            <p class="inicio">
              No tenes cuenta todavia,<a href="register.html"> registrate acá </a>
            </p>
          </form>
      </section>
  
      

      <section id="invitado">
       
            <h3>Continuar como invitado</h3>
            <input type="submit" name="inivitado" value="invitado" >
      </section>
  </main>
 
  <footer>
    <div id="Copyright">
      <h4>Copyright 2023 ConcesionariaSN</h4>
      <p>Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo) 
        están sujetos a derechos de propiedad por las leyes de Derechos de Autor </p>
    </div>
    <div id="sociales">
      <a href="#"><i class="fab fa-facebook-f" style="color: #ffffff;"></i></a>
      <a href="#"><i class="fab fa-instagram" style="color: #ffffff;"></i></a>
      <a href="#"><i class="fab fa-whatsapp" style="color: #ffffff;"></i></a>
    </div>
  </footer>
</body>
</html>
