<!DOCTYPE html>
<html>
<head>
  <title>Carrito de Compras</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <img src="logo.png" alt="Logo">
    <div class="botones-cabecera">
      <button>Iniciar sesión</button>
      <button>Carrito</button>
    </div>
  </header>
  <nav>
    <a href="#">Inicio</a>
    <a href="#">Productos</a>
    <a href="#">Ofertas</a>
    <a href="#">Contacto</a>
    <a href="#">Ayuda</a>
    <form>
      <input type="text" placeholder="Buscar...">
      <button type="submit">Buscar</button>
    </form>
  </nav>
  <div class="contenedor-principal">
    <div class="contenedor-izquierdo">
      
      <div class="detalles-producto">
        <img class="imagen-producto" src="producto.jpg" alt="Producto">
        <div class="descripcion-producto">
          <h3 class="titulo-resumen">Productos</h3>
          <h3>Nombre del producto</h3>
          <p>Descripción del producto Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Cantidad: 1</p>
          <p>Precio: $99.99</p>
        </div>
      </div>
      
      <p>Precio de envío: $5.00</p>
    </div>
    
    <div class="contenedor-derecho">
      <div class="resumen-compra">
        <h3 class="titulo-resumen">Resumen de Compra</h3>
        <div class="resumen">
          <div class="item-resumen">
            <span>Producto:</span>
            <span>$99.99</span>
          </div>
          <div class="item-resumen">
            <span>Envío:</span>
            <span>$5.00</span>
          </div>
          <div class="item-resumen">
            <span>Total:</span>
            <span>$104.99</span>
          </div>
          <button class="boton-resumen">Continuar compra</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div>
      Copyright 2023
      <span style="font-weight: bold;">ConcesionariaSN</span>
    </div>
    <div class="enlaces-sociales">
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">WhatsApp</a>
      <a href="#">Google Maps</a>
    </div>
  </footer>
</body>
</html>