<!DOCTYPE html>
  <html>
  <head>
    <title>Carrito de Compras</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet" />
    <title>Carrito de Compras</title>
  </head>
  <body>
    <header>
      <div class="head">
        <img src="../public/img/Logo.png" alt="Logo"  width= "30%">
          <div>
          <a href="login.html"><i class="fas fa-user-circle" style="color: #ffffff;"></i></a>
          <a href="" id="burger"><i class="fas fa-bars" style="color: #ffffff;"></i></a> 
        </div>   
      </div>
      <div id="barra">
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>
        <form action="/" method="POST">
          <button type="submit" id="boton"><i class="fas fa-search" style="color: #000000;"></i></button>
          <input type="text" placeholder="Buscar..." name="Buscar" id="buscar">
        </form>
      </div>
      
    </header>
    <main>
      <div class="contenedor-principal">
        <div class="contenedor-izquierdo">
          <div class="detalles-producto">
            <img class="imagen-producto" src="producto.jpg" alt="Producto">
            <div class="descripcion-producto">
              <h3 class="titulo-resumen">Productos</h3>
              <h3>Nombre del producto</h3>
              <p>Descripción del producto Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Cantidad: 1</p>
              <p>Precio: $99.99</p>
            </div>
          </div>
          <p>Precio de envío: $5.00</p>
        </div>
      <div class="contenedor-derecho">
        <div class="resumen-compra">
          <h3 class="titulo-resumen">Resumen de Compra</h3>
          <div class="resumen">
            <div class="item-resumen">
              <span>Producto:</span>
              <span>$99.99</span>
            </div>
            <div class="item-resumen">
              <span>Envío:</span>
              <span>$5.00</span>
            </div>
            <div class="item-resumen">
              <span>Total:</span>
              <span>$104.99</span>
            </div>
            <button class="boton-resumen">Continuar compra</button>
          </div>
        </div>
      </div>
    </div>
  </main>
    <footer>
      <div>
        Copyright 2023
        <span style="font-weight: bold;">ConcesionariaSN</span>
      </div>
      <div class="enlaces-sociales">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">WhatsApp</a>
        <a href="#">Google Maps</a>
      </div>
    </footer>

  </body>

  </html>