<!DOCTYPE html>
<html>
<head>
  <title>Crea tu cuenta</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
  <header>
    <div class="head">
      <img src="/img/Logo.png" alt="Logo"  width= "30%">
        <div>
        <a href="login"><i class="fas fa-user-circle" style="color: #ffffff;"></i></a>
        <a href="productCart"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></a>
        <a href="" id="burger"><i class="fas fa-bars" style="color: #ffffff;"></i></a> 
      </div>   
    </div>
    <div id="barra">
      <nav>
        <ul>
          <li><a href="home">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
        </ul>
      </nav>
      <form action="/" method="POST">
        <button type="submit" id="boton"><i class="fas fa-search" style="color: #000000;"></i></button>
        <input type="text" placeholder="Buscar..." name="Buscar" id="buscar">
      </form>
    </div>
  </header>
  <main>
    <section id="izquierda">
      
      <div id="triangulo1"></div>
      <div id="triangulo3"></div>
      <div id="triangulo2"></div>
     
    </section>
    <section id="derecha">
      <p id="ingresa"><a href="login.html">¿Ya estás registrado? Ingresa aquí</a></p>
      <p> <h1>Crea tu cuenta</h1></p>
    <div>
      <form id="registro">
        <div class="grupo-formulario">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="grupo-formulario">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" required>
        </div>
        <div class="grupo-formulario">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="grupo-formulario">
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" name="direccion" required>
        </div>
        <div class="grupo-formulario">
            <label for="contraseña">Contraseña:</label>
            <input type="contraseña" id="contraseña" name="contraseña" required>
        </div>
        <div class="grupo-formulario" >
            <label for="confirmar-contraseña">Confirmar contraseña:</label>
            <input type="contraseña" id="confirmar-contraseña" name="confirmar-contraseña" required>
        </div>
        <div class="grupo-formulario">
          <input type="checkbox" id="terminos" name="terminos" required>
          <label for="terminos" class="etiqueta-checkbox">Acepto los términos y condiciones</label>
        </div>
        <button type="submit" id="boton1">Crear cuenta</button>
        <div class="grupo-formulario" id="redes">
          <button type="submit" class="boton2">Ingresa con Facebook <i class="fab fa-facebook-f" style="color: #ffffff;"></i></button>
          <button type="submit" class="boton2">Ingresa con Google <i class="fab fa-google" style="color: #ffffff;"></i></button>
        </div>
      </form>
    </div>
    </section>
  </main>
  <footer>
    <div id="Copyright">
      <h4>Copyright 2023 ConcesionariaSN</h4>
      <p>Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo) 
        están sujetos a derechos de propiedad por las leyes de Derechos de Autor </p>
    </div>
    <div id="sociales">
      <a href="www.facebook.com" target="_blank"><i class="fab fa-facebook-f" style="color: #ffffff;"></i></a>
      <a href="www.instagram.com" target="_blank"><i class="fab fa-instagram" style="color: #ffffff;"></i></a>
      <a href="www.whatsapp.com" target="_blank"><i class="fab fa-whatsapp" style="color: #ffffff;"></i></a>
    </div>
  </footer>
</body>
</html>
