@import url(centralize.css);
@import url(header.css);
@import url(footer.css);
.product-info {
  display: flex;
  justify-content: center;
  position: relative;
}
.product-details {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 5px 5px 50px;
  margin: 20px 10px;
  color: #f9fcff;
}
.contenedor {
  background-image: url(../img/background6.jpg);
  background-size: cover;
  object-fit: contain;
  width: 100%;
}
.product-title {
  font-size: 30px;
  font-weight: bold;
}
.product-description {
  font-size: 20px;
}
.product-price {
  font-size: 18px;
  padding: 10px;
}
.product-p {
  font-size: 25px;
  font-weight: bold;
}

.img-principal {
  width: 50%;
  height: 50%;
  display: flex;
  margin: 10px;
  padding: 5px 20px 5px 50px;
}
.product-image {
  position: absolute;
  right: 45%;
  top: 40%;
  z-index: 1;
}
.compartir {
  border: 1mm ridge rgba(211, 211, 210, 0.651);
  padding: 3px 6px;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.compartir i {
  font-size: 20px;
  padding: 5px;
}
main {
  position: relative;
  height: auto;
}

#fotos img {
  margin: 2px;
  position: relative;
  object-fit: cover;
}
#fotos button {
  position: relative;
  margin: 5px 25px;
}

.container {
  max-width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* bottom: 62%; */
}

.contenedorImgBtn{
  width: 100%;
}

.fotos {
  display: flex;
  width: 65%;
}

.fotos img {
  margin-right: 10px;
  padding: 10px;
  width: 20%;
}

.fotos img:hover {
  transform: scale(1.5);
  z-index: 5;
}
.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.botones-arriba {
  display: flex;
  gap: 10px; /* Espacio entre los botones "Consultar" y "Compartir" */
}

.boton {
  padding: 10px 20px;
  margin: 10px 10px 0 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #cfd3d8;
  color: #474747;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.boton-destacado {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  padding: 10px 0;
  margin: 20px 10px 10px 10px;
  font-weight: bold;
  background-color: #da0000;
  color: #cfd3d8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 5px 4px 4px rgba(78, 78, 78, 0.2);
}

.boton-destacado:hover {
  background-color: #74716e;
}

.carac-tecn {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-top: 30px;
  background-size: cover;
}

.bloque {
  width: 15%;
  min-height: 400px;
  background-image: linear-gradient(to bottom, #000000, #3b1414);
  border: solid 1px #474747;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 10px;
  color: #cfd3d8;
  text-shadow: 2px 2px 4px rgba(109, 39, 39, 0.74);
  box-shadow: 10px 5px 6px rgb(151, 88, 88, 0.829);
}
.cajas {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* padding-right: 150px; */
}

.contenedorDetalles{
  width: 30%;
  display: contents;
}

.h2Detalles{
  position: relative;
  /* height: 400px; */
  width: 200px;
  display: flex;
  justify-content: center;
  /* top: 0; */
  /* bottom: 0; */
  /* right: 0; */
  /* left: 0; */
  /* margin: 0px auto; */
}


.cajas h2 {
  margin-left: 110px;
  position: relative;
  width: auto;
  color: #cfd3d8;
  text-shadow: 4px 4px 6px rgb(151, 88, 88);
  text-orientation: upright;
  transform: rotate(-0.25turn);
  /* margin: 2px 0; */
}

.ficha-tecnica {
  width: 90%;
  align-self: center;
  cursor: pointer;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, #000000, #3b1414);
  color: #cfd3d8;
  box-shadow: 10px 5px 6px rgb(151, 88, 88, 0.829);
  border: solid 1px #474747;
  border-radius: 8px;
  margin: 50px 100px;
}

.txtFichaTecnica{
  font-size: 2rem;
}

/*------ popup-------*/

#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* Estilos para el formulario dentro del popup */
#contact-form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-popup-btn {
  background-color: #dc3545;
}

/* Otros estilos específicos para el contenido del popup */
/* Por ejemplo, si deseas estilizar el título y los botones de compartir */
.popup-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.compartir {
  font-size: 18px;
  color: #555;
  display: flex;
  align-items: center;
}

.compartir i {
  margin-left: 5px;
}

/* Estilos para el botón "Mostrar Popup" en la barra de navegación */
#show-popup-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  
/* SECTION PRODUCTO */

  .product-info {
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    flex-wrap: wrap;
  }

  .product-details{
    width: 95%;
    margin: 20px 0px;
    padding: 0px;
  }

  .product-info,
  .carac-tecn {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .img-principal{
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: auto;
  }

/* SECTION FOTOS */

  #fotos{
    display: flex;
    flex-direction: column;
  }
  
  .fotos{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #fotos img {
    width: 18%;
  }

  
  .botones{
    width: 80%;
    gap: 20px;
    margin: 25px 0px;
  }
  
  #fotos button {
    position: relative;
    margin: auto;
  }

  .botones-arriba {
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
  }

  .botones-arriba .boton{
    width: 40%;
    display: flex;
    justify-content: center;
  }

/* SECTION FICHA TÉCNICA    */

  .cajas{
    flex-direction: column;
  }

  .cajas h2 {
    transform: none;
    margin: auto;
  }

  .bloque{
    width: 80%;
    min-height: 200px;
    margin-top: auto;
  }

  .h2Detalles{
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .contenedorDetalles {
    width: 80%;
  }

  .ficha-tecnica{
    margin: auto;
    width: auto;
    margin-top: 40px;
    margin-bottom: 15px;
  }

}
