footer{
    background: linear-gradient(white, 40% ,#8d99ae );
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

#Copyright{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-evenly;
}
#Copyright p{
    font-size: 12px;
    width: 60%;
}

#sociales{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
   
}
a{
    align-self: flex-end;
    
}
.fab{
    font-size: 1.5rem;
    
}
