header{
    background-color: #8d99ae;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.head{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    top: 2%;
}
.head img{
  width: 15%;
  height: 30%;
}

/* PERFIL */
.nombreIcono{
    color: #ff0000;
    margin: 15px 0px;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-right: 50px;
}

.iconos a{
    align-self: flex-start;
    text-align: center;
}

.iconos li{
    display: flex;
    /* border: 1px solid white; */
    width: auto;
    color: #8d99ae;
    flex-direction: row;
    align-items: flex-start;
    /* margin: 0px -30px; */   
}

.iconos ul{
    /* display: none; */
    margin: auto;
    /* background-color: aqua; */
    padding: 10px;
}

.iconos ul a{
    width: 100%;
}

.listaMenuPerfil{
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
    color: #8d99ae;
    display: none;
    flex-direction: column; 
    background: #131111;
    margin: 0 20px ;
    position: absolute;
    bottom: 0;
    right: 7.5%;
    align-items: center;
}

.listaMenuPerfil ul:hover{
    background: #8d99ae;
    border-radius: 10px;
    width: 100%;
}

.listaMenuPerfil ul a{
    margin: 0px 10px;
}

.cerrarSesion{    
    margin-right: 70px;
}


#carritoDeCompras{
    padding: 0px;
}

.carritoDeComprasTexto{
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
    position: absolute;
    color: #8d99ae;
    display: none;
    flex-direction: column; 
    background: #131111;
    margin: 0 20px ;
    right: 3.5%;
    bottom: 0;
}

.carritoDeComprasTexto p{    
    color: #ff0000;
    text-transform: uppercase;
    margin: auto;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

.carritoHover:hover > .carritoDeComprasTexto{
    display: flex;
}

.fas{
   font-size: 1.5rem;
   padding: 5px;
}

form{
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
}
.fa-search{
    font-size: 1rem;
}
#buscar{
    height: 100%;
    width: 83%;
    border: none;
    background: #00000083;
}
#boton{
    height: 100%;
    width: 15%;
    border: none;
    background: #00000083;
}
li a{
    text-decoration: none;
    display: flex;
    font-weight: bolder;
    color: red;
}

.iconos i{
    font-size: 25px;
}


/* TEMA */

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    top: 1.2em;
    width: 4em;
    height: 2em;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #111111;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    inset: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(14, 13, 13, 0.788);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #bcbec0;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #5c5b5b;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6em);
  }
  .fa-moon{
    margin: 4px 3px;
  }
  .fa-sun{
    color: #f7fdda;
    font-size: 30px;
  }

  /* pop-up contacto */

  #modal, #modal2 {
    max-height: 100%;
    max-width: 100%;
  }

  .modal-fondo{
    background-color: rgba(100,100,100,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
    border: none;
    overflow: auto;
  }

  .modal-contacto {
    width: 80%;
    height: 80%;
    padding: 30px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    overflow: auto;
  }

  #modal2 .modal-contacto {
    width: 60%;
    height: 60%;
  }
  #modal h2{
    margin-bottom: 15px;
    text-align: center;
  }

  #modal3 h2{
    margin-left: 25%;
  }
  #contactoForm{
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
  }
  #contactoForm input{
    width: 90%;
    margin-bottom: 20px;
  }
  #contactoForm textarea{
    width: 90%;
    margin: auto;
    padding: 10px 10px 30px;
  }
  #contactoForm label {
    width: 90%;
  }
   #cerrar, #cerrar2{
    color: black;
    width: 5%;
    border-radius: 0px;
    background-color: red;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

   }

   #enviar{
    width: 50%;
    margin: 20px;
    font-weight: bold;
    background-color: #da0000;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 4px 4px rgba(78, 78, 78, 0.2);
   }
   
   #enviar:hover{
    background-color: #000;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.8);
    color: red;
    border: 1px solid red
   }
   
   #enviar1{
    width: 50%;
    padding: 10px 0;
    margin: 20px 10px 10px 10px;
    font-weight: bold;
    background-color: #da0000;
    color: #cfd3d8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 4px 4px rgba(78, 78, 78, 0.2);
   }

   dialog p {
    color: #000;
    width: 70%;
    
   }
   #contenidoAyuda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
    top: 10%;
   }

   #contenidoAyuda h2{
       color: blue;
       text-transform: uppercase;
    }
    
    #contenidoAyuda h3{
        color: #ff0000;
        font-size: 1rem;
        margin: 20px 0px;
    }
    
    
/* --------------------> RESPONSIVE <-------------------- */



    
/* CELULAR */

@media (max-width: 360px){
    
    #burger{
        display: flex;
        border: none;
        background: none;
        color: red;
        font-size: 2rem;
        padding: 10px;
        margin-right: 5px;
    }

    .burgerClick{
        transform: rotate(-90deg);
        transition: 1.2s;
    }

    .burgerClick2{
        transform: rotate(0deg);
        transition: 1.2s;
    }

    nav{
        display: none;
        background-color: black;
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 15%;
    }

    nav li a{
        border: 1px red solid;
        margin: 0px 10px;
        padding: 10px;
    }

    nav ol, nav ul {
        padding-left: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .listaMenuPerfil {
        margin: auto;
        bottom: auto;
        left: 0;
        right: 0;
    }

    .listaMenuPerfil.visible {
        display: flex;
      }

    .listaMenuPerfil ul:hover{
        background: none
    }

    .carritoDeComprasTexto {
        bottom: auto;
    }

    
    .nombreIcono{
        display: none;
    }

    .head{
        padding: 10px 0px;
        flex-wrap: nowrap;
    }

    .head img{
        width: 40%;
        margin: auto 0px;
    }
    
    
    .iconos {
        width: auto;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .iconos a{
        width: auto;
    }
    
    .iconos ul{
        padding: -1px;
    }

    #barra {
        position: relative;
        margin-top: auto;
        display: flex;
        flex-direction: row-reverse;
        z-index: 10;
    }

    #buscador{
        margin-top: auto;
    }
    
    .switch {
        top: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .modal-contacto {
        padding-top: 10px;
    }

    #contactoForm label{
        font-size: 12px;
    }

    #cerrar, #cerrar2 {
        margin: auto;
        width: 15%;
    }
}

/* TABLET */

@media (min-width: 360px){

    
    #burger{
        display: none;
    }

    #barra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        position: relative;
        z-index: 2;
    }
    nav{
        height: 50%;
        display: block;
        width: 70%;
    }
    form{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: row;
    }

    .listaMenuPerfil {
        margin: auto;
        right: 15%;
        bottom: 15%;
    }

    .listaMenuPerfil ul a {
        justify-content: center;
    }

    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 25%;
    }


    .listaMenuPerfil.visible {
        display: flex;
      }

    .listaMenuPerfil ul:hover{
        background: none
    }

    #cerrar, #cerrar2{
        width: 8%;
    }

    #enviar {
        font-size: 18px;
    }

    .carritoDeComprasTexto {
        z-index: 1;
        top: 30%;
        height: auto;
        right: 4%;
        bottom: auto;
    }
    
    .head{
        height: 10rem;
        
    }
}

/* --------------------> LAPTOP <-------------------- */
    
@media (min-width: 900px){

    .head{
        height: 15rem;
        margin-top: 0px;
    }

    .listaMenuPerfil {
        margin: auto;
        right: 10%;
        bottom: auto;
        top: 20%;
    }

    
    .perfilHover:hover > .listaMenuPerfil{
        display: flex;
    }

    .carritoDeComprasTexto {
        top: 20%;
        right: 3%;
    }
}