header{
    background-color: #8d99ae;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.head{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    top: 2%;
}
.head img{
  width: 15%;
  height: 30%;
}

/* PERFIL */

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.iconos a{
    align-self: flex-start;
    width: 80px;
}

.iconos li{
    display: flex;
    /* border: 1px solid white; */
    width: auto;
    color: #8d99ae;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 0px -30px; */
    
    
}

.iconos ul{
    /* display: none; */
    margin: auto;
    /* background-color: aqua; */
    padding: 10px;
}

.iconos ul a{
    width: 100%;
}

.listaMenuPerfil{
    
    border: 1px solid white;
    width: auto;
    color: #8d99ae;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px -30px; 
}

.iconos li:hover > .listaMenuPerfil{
    display: flex;
}

.iconos a{
    text-align: center;
}






.fas{
   font-size: 1.5rem;
   padding: 5px;
}
nav{
    display: none;
}
form{
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
}
.fa-search{
    font-size: 1rem;
}
#buscar{
    height: 100%;
    width: 83%;
    border: none;
    background: #00000083;
}
#boton{
    height: 100%;
    width: 15%;
    border: none;
    background: #00000083;
}
li a{
    text-decoration: none;
    display: flex;
    font-weight: bolder;
    color: red;
}

.iconos i{
    font-size: 25px;
}

@media (min-width: 768px){
    #barra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 3rem;
        position: relative;
        z-index: 2;
    }
    nav{
        height: 100%;
        display: block;
        width: 70%;
    }
    form{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: row;
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 25%;
    }
    .fas{
        font-size: 3.5rem;
        padding: 15px;
    }
    .fa-search{
        font-size: 1rem;
    }
    .head{
        height: 10rem;
        
    }
    #burger{
        display: none;
    }
}
@media (min-width: 1024px){
    .head{
        height: 15rem;
        margin-top: 0px;
    }
}
    
/* CELULAR */
    
@media (max-width: 360px){
    
    #burger{
        display: none;
    }

    .head{
        padding: 10px 0px;
    }

    .head img{
        width: 50%;
        margin: auto 0px;
    }


    .iconos {
        width: 50%;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .iconos a{
        margin: 10px;
        width: auto;
    }

    #barra{
        position: relative;
        z-index: 10;
    }

    header nav{
        display: none;
    }
}