@import url(centralize.css);
@import url(header.css);
@import url(footer.css);

body{
    background-color: #FFFFFF;
}

/* ----------> SECTION <---------- */

.contenedorProducto, .tituloProducto, .envioProducto{
    margin: 0px 10px;
    border: solid 2px #8D99AE;
    padding: 10px;
}

.resumenCompra, .sectionCompra{
    margin: 0px 10px;
}

.tituloProducto{
    margin-top: 20px;
    border: solid 2px #bdbdbd;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.envioProducto{
    margin-bottom: 20px;
    border: solid 2px #bdbdbd;
}

/* SECTION PRODUCTO  */

.contenedorProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}

.contenedorIzq, .contenedorDer{
    display: flex;
    align-items: center;
}

.contenedorIzq{
    margin: 40px 0px;
    width: 60%;
    border: solid 2px #bdbdbd;
}

.contenedorIzqImg{
    width: 50px;
    height: 50px;
    background-color: black;
}

.contenedorIzqTexto{
    margin-left: 3px;
}

.contenedorDer{
    justify-content: center;
    flex-direction: column;
    width: 40%;
    align-items: end;
}

/* FONT SIZE PRODUCTOS  */
.contenedorDerinputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
    text-transform: uppercase;
    width: 95%;
    border: solid 2px #bdbdbd;
    margin: 7px 0px;
    padding: 4px;
}

.contenedorDer input{
    width: 25px;
    text-align: right;
    border: none;
    font-size: 8px;
    font-weight: bold;
}

.contenedorIzq h3{
    font-size: 15px;
    text-transform: uppercase;
}

.contenedorIzq h4{
    font-size: 11px;
}

.contenedorIzq p{
    font-size: 10px;
}

/* CAJA ENVIO TOTAL  */

.envioProducto{
    display: flex;
    justify-content: space-between;
}

.envioTextoProducto p{
    text-transform: uppercase;
}

.precioTextoProducto{
    display: flex;
    flex-direction: row;
}


.precioTextoProducto p{
    padding: 0px 3px;    
}


/* ----------> RESUMEN DE COMPRA <--------- */

.contenedorCompra{
    display: flex;
    margin-bottom: 30px;
    background-color: #bdbdbd;
    flex-direction: column;
    /* align-content: space-around; */
    align-items: stretch;
}

.contenedorCompra h3{
    background-color: white;
    font-size: 10px;
    text-transform: uppercase;
    border: solid 1px #8D99AE;
    padding: 2px 4px;
}

.itemResumen, .itemResumen input, .itemResumen label{
    background-color:#bdbdbd;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.resumenCompra{
    padding: 0px 5px;
}

.contenedorItemResumen{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
}

.itemResumen{
    display: flex;
    margin: 5px 0px;
}

.itemResumen input{
    border: none;
    text-align: right;
    width: 40%;
}

.itemResumen label{
    width: 60%;
}

.contenedorCompra button{
    margin: 15px 0px;
    padding: 5px 0px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    color: white;
    background-color:midnightblue;
    border: solid 1px #8D99AE;
    border-radius: 15px;
    text-transform: uppercase;
}


.contenedorCompra button:hover{
    background-color: white;
    color: blue;
    border: solid 1px blue;
}

/* FOOTER  */




/* ------------------------------> RESPONSIVE <------------------------------ */

@media (max-width: 360px){

    /* FOOTER */

    footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding: 10px;
    }
    
    #sociales {
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-bottom: 5px;
    }
    
    #Copyright, #Copyright p{
        width: 100%;
    }

    /* TERMINA FOOTER */
}

/* ------------------------------> TABLET <------------------------------ */

@media (min-width: 361px){
    footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding: 10px;
    }
 
    #sociales {
        justify-content: end;
        margin-left: auto;
    }
 
 #Copyright, #Copyright p{
    width: 100%;
    }
    
    
    /* MAIN */
    
    main{
        display:flex;
        flex-direction: row;
        margin: 30px 20px;
    }

    /* PRODUCTO */

    .tituloProducto {
        margin-top: 0px;
        font-size: 13px;
    }

    .sectionProducto{
        width: 55%;
    }

    .envioProducto{
        margin-bottom: 0px;
    }

    /* COMPRA RESUMEN */

    .sectionCompra{
        width: 45%;
    }

    .contenedorCompra h3{
        padding: 10px;
        font-size: 13px;
    }

    .contenedorCompra{
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }
    
}

/* ------------------------------> DESKTOP <------------------------------*/



@media (min-width: 769px){
    
    /* HEAD  */
    
    #barra nav ul li a, form input{
        font-size: 2rem;
    }

    /* FOOTER */
    
    footer{
        width: 100%;
        font-size: 1rem;
    }

    

    #Copyright{
        justify-content: flex-end;
        height: 4rem;
    }

    #Copyright p{
        font-size: 14px;
    }

    #sociales i{
        font-size: 35px;
        margin: 0px 15px;
    }
    
/* TERMINA FOOTER */

/* ----------> MAIN <----------*/

    main{
        display:flex;
        flex-direction: row;
        margin: 50px 20px;
    }
    
/* PRODUCTO */
    
    .envioProducto{
        font-size: 2rem;
        font-weight: bold;
    }
    
    .contenedorSectionProducto{
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    
    .tituloProducto {
        margin-top: 0px;
        font-size: 2rem;
    }
    
    .contenedorIzq {
        margin-top: auto;
        margin-left: auto;
        border: none;
        width: 60%;
        width: 70%;
        padding: 15px;
    }
    .contenedorIzqImg{
        width: 100px;
        height: 100px;
    }
    
    .contenedorIzqTexto h4, .contenedorIzqTexto p{
        display: none;        
    }
    
    .contenedorIzqTexto{
        padding-left: 10px;
    }
    
    .contenedorDer{
        flex-direction: row;
        width: 40%;
        align-items: center;
    }
    .contenedorDerinputs{
        border: none;
        text-align: center;
        justify-content: center;
    }
    
    #contenedorDerPrecioEnvio{
        display: none;
    }
    
    .contenedorDerinputs label, .contenedorDerinputs input{
        display: none;
    }
    
    #cantidadDeProducto{
        width: 100%;
        display: block;
        font-size: 2rem;
        text-align: center;
        border: solid 2px #8D99AE;
        border-radius: 10px
    }

    #precioProducto{
        display: block;
        width: 100%;
        font-size: 2rem;
        text-align: end;
        margin-left: 10%;
    }
    
    /* RESUMEN COMPRA */
    
    .sectionCompra{
        width: 30%;
    }
    
    .contenedorCompra {
        height: 100%;
        margin-bottom: 0px;
    }
    
    .contenedorCompra h3{
        margin-top: 0px;
        font-size: 20px;
    }
    
    
    .contenedorCompra button{
        margin-top: auto;
    }
    
    .itemResumen, .itemResumen input, .itemResumen label, .contenedorCompra button{
        font-size: 20px;
    }
    
    .envioProducto {
        margin-bottom: 0px;
    }
}