@import url(centralize.css);
@import url(header.css);
@import url(footer.css);

/* ----------> BODY <---------- */

body{
    background-color: black;
    color: #f00;
}

/* ----------> SECTION <---------- */

.contenedorSectionProducto p{
    margin: auto 0;
}

.contenedorProducto, .tituloProducto, .envioProducto{
    margin: 0px 10px;
    border: solid 2px #8D99AE;
    padding: 10px;
    font-weight: bold;
}

.resumenCompra, .sectionCompra{
    margin: 0px 10px;
}

.tituloProducto{
    margin-top: 20px;
    border: solid 2px #f00;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.envioProducto{
    margin-bottom: 20px;
    border: solid 2px #f00;
}

/* SECTION PRODUCTO  */

#formCarritoDelete{
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
}

#btnCarritoDelete{
    padding: 0 5px;
    font-size: 12px;
    background-color: red;
    margin: 0px;
}

.contenedorProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    border: solid 2px #f00;
    border-bottom: none;
    border-top: none;
}

.contenedorIzq, .contenedorDer{
    display: flex;
    align-items: center;
}

.contenedorIzq{
    margin: auto;
    width: 100%;
    height: 100%;
    /* border: solid 2px #f00; */
    position: relative;
    flex-direction: column-reverse;
}

.contenedorProducto img{
    width: 100%;
    height: 100%;
}

.contenedorIzqImg{
    position: relative;

}

.contenedorIzqTexto .tituloIzq{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.contenedorIzqTexto{
    margin-left: 3px;
}

.contenedorDer{
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* FONT SIZE PRODUCTOS  */
.contenedorDerinputs{
    margin: 7px 0px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    border: solid 2px #f00;
    border-right: none;
    border-left: none;
}

#contenedorCantidad{
    margin-bottom: 0;
}

.contenedorDerinputs button{
    padding: 0px 5px;
}

.contenedorDer input{
    width: 25px;
    background-color: black;
    color: red;
    text-align: right;
    font-size: 8px;
    font-weight: bold;
    border: none;
}

.contenedorIzq h3{
    font-size: 15px;
    text-transform: uppercase;
}

.contenedorIzq h4{
    font-size: 11px;
}

.contenedorIzq p{
    font-size: 10px;
}

/* CAJA ENVIO TOTAL  */

.envioProducto{
    display: flex;
    justify-content: space-between;
}

.envioTextoProducto p{
    text-transform: uppercase;
}

.precioTextoProducto{
    display: flex;
    flex-direction: row;
}


.precioTextoProducto p{
    padding: 0px 3px;    
}


/* ----------> RESUMEN DE COMPRA <--------- */

.contenedorCompra{
    display: flex;
    background-color: #ff000085;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    
}

.contenedorCompra .boton-resumen{
    position: relative;
    height: 40px;
    background: #f00;
    color: #fff;
    border-radius: 30px;
}
.contenedorCompra h3{
    background-color: black;
    font-size: 15px;
    text-transform: uppercase;
    border: solid 1px #ff000085;
    padding: 2px 4px;
}

.itemResumen, .itemResumen input, .itemResumen label{
    background-color:rgba(255, 0, 0, 0);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.resumenCompra{
    padding: 0px 5px;
}

.resumenCompra p{
    font-size: 1rem;
}

.contenedorItemResumen{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
}

.itemResumen{
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
}

.itemResumen input{
    border: none;
    text-align: right;
    width: 40%;
}

.itemResumen label{
    width: 60%;
    color: black;
    font-size: 15px;
}

.contenedorCompra button{
    margin: 15px 0px;
    padding: 5px 0px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    border-radius: 15px;
    text-transform: uppercase;
    color: black;
    background-color: red;
    border: solid 1px black;
}


.contenedorCompra button:hover{
    
    color: red;
    background-color: black;
    border: solid 1px white;
}





/* ------------------------------> RESPONSIVE <------------------------------ */

/* ------------------------------> TABLET <------------------------------ */

@media (min-width: 361px){
    
    /* MAIN */
    
    main{
        display:flex;
        flex-direction: column;
        margin: 30px 20px;
    }

    #formCarritoDelete{
        position: relative;
        display: flex;
        justify-content: center;
    }

    #btnCarritoDelete {
        padding: 2px 50px;
        font-size: 12px;
        background-color: red;
        margin: 0px;
        text-transform: uppercase;
    }

    /* PRODUCTO */

    .contenedorProducto{
        padding: 40px 10px;
    }

    .tituloProducto {
        margin-top: 0px;
        font-size: 13px;
    }

    .sectionProducto, .sectionCompra{
        width: 100%;
        margin: 30px 0px;
    }

    .contenedorIzq{
        margin: 0px;
    }

    .contenedorIzqImg{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .contenedorIzqTexto{
        width: 40%;
        padding-left: 10px;
    }

    .contenedorProducto img {
        width: 100%;
        padding: 10px 3px;
        height: auto;
    }

    .envioProducto{
        margin-bottom: 0px;
    }

    /* COMPRA RESUMEN */

    .contenedorCompra h3, .tituloProducto, .envioProducto{
        padding: 10px;
        font-size: 22px;
    }

    .contenedorCompra{
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .itemResumen, .itemResumen input, .itemResumen label, .contenedorCompra button{
        font-size: 1rem;
    }
    
}

/* ------------------------------> DESKTOP <------------------------------*/



@media (min-width: 769px){
    
/* ----------> MAIN <----------*/

    main{
        display:flex;
        flex-direction: row;
        margin: 50px 20px;
    }
    
/* PRODUCTO */
    
    .envioProducto{
        font-size: 2rem;
        font-weight: bold;
    }
    
    .contenedorSectionProducto{
        display: flex;
        height: auto;
        flex-direction: column;
    }
    
    .tituloProducto {
        margin-top: 0px;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .sectionProducto{   
        width: 70%;
    }
    
    .contenedorIzqTexto {
        width: 100%;
        text-align: center;
    }

    .contenedorIzqTexto .tituloIzq{
        font-size: 2rem;
        text-transform: uppercase;
        display: block;
        width: 100%;
    }

    .contenedorProducto img {
        width: 100%;
        height: 100%;
    }
    
    .contenedorIzqTexto h4, .contenedorIzqTexto p{
        display: none;        
    }
    
    .contenedorIzqTexto{
        padding-left: 10px;
    }

    .cantidadP{
        width: 80%;
    }
    
    #contenedorDerPrecioEnvio{
        display: none;
    }
    
    .contenedorDerinputs label, .contenedorDerinputs input{
        display: none;
    }
    
    #cantidadDeProducto{
        width: 100%;
        display: block;
        font-size: 2rem;
        text-align: center;
        border: solid 2px #8D99AE;
        border-radius: 10px
    }

    #precioProducto{
        display: block;
        width: 100%;
        font-size: 2rem;
        text-align: end;
        margin-left: 10%;
    }
    
    /* RESUMEN COMPRA */
    
    .sectionCompra{
        width: 30%;
    }
    
    .contenedorCompra {
        height: auto;
        margin-bottom: 0px;
    }
    
    .contenedorCompra h3{
        margin-top: 0px;
        font-size: 20px;
    }
    
    
    .contenedorCompra button{
        margin-top: auto;
    }
    
    .itemResumen, .itemResumen input, .itemResumen label, .contenedorCompra button{
        font-size: 20px;
    }
    
    .envioProducto {
        margin-bottom: 0px;
    }
}