@import url(centralize.css);
@import url(header.css);
@import url(footer.css);

body{
    background-color: black;
}

main{
    padding-bottom: 60px;
}

/* SECTION */

.titulo, .tituloRecomendado{
    margin-bottom: 20px;
    padding: 25px 0px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: red;
    box-shadow: inset 0px 20px 15px -10px #f00, inset 0px -20px 15px -10px #f00;
}

/* ARTICULOS */


.lista-productos, .lista-recomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    width: 90%;
    color: red;
    text-align: center;
    padding: 30px 0px;
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
}

article img{
    width: 100%;
}

article p{
    color: black;
}
.producto h2{
    padding: 12px;
}

.btn-agregarcarrito{
    border-radius: 30px;
    padding: 3px;
    background-color: rgb(34, 34, 34);
    color: white;
}
/* ARTICULO HOVER */

article:hover > img{
    width: 100%;
    padding: 15px;
    transition: all 0.2s;
}

article:hover {
    box-shadow: inset 1px 2px 11px 5px rgba(255, 0, 0, 0.774);
    transition: all 0.3s;
}


/* FONT SIZE */
article h2, article span{
    font-size: 22px;
    text-transform: uppercase;    
}

article p{
    font-size: 14px;
}

.error-search-vacio{
    margin: auto;
    font-size: 1.5rem;
    width: 75%;
    color: red;
    text-transform: uppercase;
    text-align: center;

}

/* ------------------------------> RESPONSIVO <------------------------------ */

/* ----------> TABLET <---------- */

@media (min-width: 361px){

    article {
        width: 45%;
        padding: 10px;
        
    }

    .tituloRecomendado{
        margin: 40px 0px;
    }

    .lista-recomendados .producto{
        width: 30%;
    }

    #productoDos{
        display: none;
    }

    .error-search-vacio {
        font-size: 1.5rem;
        width: 100%;
    }

    
}

/* ----------> LAPTOP <---------- */

@media (min-width: 769px){

    .titulo, .tituloRecomendado{
        font-size: 2rem;
        text-align: start;
        padding-left: 150px;
    }

    article {
        width: 30%;
        padding: 15px;
    }

    article img{
        padding: 5px;
    }

    #productoUno{
        display: none;
    }

    .lista-productos, .lista-recomendados{
        padding-bottom: 60px;
    }

    .lista-recomendados{
        padding-top: 60px;
    }

    .lista-recomendados h2{
        font-size: 18px;
    }

    .lista-recomendados span{
        font-size: 18px;
    }
    
    article p{
        font-size: 14px;
    }

    .lista-recomendados .producto{
        width: 23%;
    }
    
    article:hover > img{
        padding: 0px;
    }

    .error-search-vacio {
        font-size: 2.5rem;
    }
}