main{
    padding-bottom: 60px;
    background-color: black;
}

/* SECTION */

.titulo, .tituloRecomendado{
    margin-bottom: 20px;
    padding: 25px 0px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: red;
    box-shadow: inset 0px 20px 15px -10px #f00, inset 0px -20px 15px -10px #f00;
}

/* ARTICULOS */


.lista-productos, .lista-recomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    width: 90%;
    background-color: black;
    color: red;
    text-align: center;
    padding: 30px 0px;
}

article img{
    width: 100%;
}

.producto h2{
    padding: 12px;
}

/* ARTICULO HOVER */

article:hover > img{
    width: 100%;
    padding: 15px;
    transition: all 0.2s;
}

article:hover {
    box-shadow: inset 1px 2px 11px 3px rgba(255,0,0,1);
    transition: all 0.3s;
}


/* FONT SIZE */
article h2, article span{
    font-size: 22px;
    text-transform: uppercase;    
}

article p{
    font-size: 14px;
}

/* ------------------------------> RESPONSIVO <------------------------------ */

/* ----------> TABLET <---------- */

@media (min-width: 361px){

    article {
        width: 45%;
        padding: 10px;
        
    }

    .tituloRecomendado{
        margin: 40px 0px;
    }

    .lista-recomendados .producto{
        width: 30%;
    }

    #productoDos{
        display: none;
    }

    
}

/* ----------> LAPTOP <---------- */

@media (min-width: 769px){

    .titulo, .tituloRecomendado{
        font-size: 2rem;
        text-align: start;
        padding-left: 150px;
    }

    article {
        width: 30%;
        padding: 15px;
    }

    article img{
        padding: 5px;
    }

    #productoUno{
        display: none;
    }

    .lista-productos, .lista-recomendados{
        padding-bottom: 60px;
    }

    .lista-recomendados{
        padding-top: 60px;
    }

    .lista-recomendados h2{
        font-size: 18px;
    }

    .lista-recomendados span{
        font-size: 18px;
    }
    
    article p{
        font-size: 14px;
    }

    .lista-recomendados .producto{
        width: 23%;
    }
    
    article:hover > img{
        padding: 0px;
    }
}