@import url(centralize.css);
@import url(header.css);
@import url(footer.css);
section{
    height: 100%;
    width: 100%;
    color: white
}
main{
    background: url('../img/background6.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.perfil{
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: 1;
    text-align: center;
}
.perfil img{
    width: 100%;
}


#izquierda{
    display: none;
}

#derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 30px 0px;
    text-shadow: 2.5px 2.5px 15px rgb(26, 25, 25) ;
    z-index: 5;
    margin-left: auto;
    position: relative;
    right: 50px;
}

.contenedor-formulario-registro{
    width: 100%;
}

#registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* padding: 10px 0px; */
}
.grupo-formulario{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.grupo-formulario .input{
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
}

.input{
    box-shadow: 3px 3px 10px rgb(26, 25, 25);
    border: none;
}

label{
    font-size: 20px;
    text-shadow: 2px 1px 2px black;
}

#foto{
    box-shadow: none;
}

#redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
#boton1{
    border: none;
    height: 2rem;
    background-color: #E90027;
    padding: 8px;
    text-align: center;
    color: white;
    width: 100%;
}
.boton2{
    border: none;
    height: 3rem;
    padding: 8px;
    text-align: center;
    color: white;
    background-color: #8d99ae;
    margin: 0px 5px;
}
#redes .fab{
    font-size: 0.8rem;
}
#ingresa{
    align-self: flex-end;
}
#ingresa a{
    color: white;
    border: 2px solid;
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
}

#ingresa a:hover{
    /* color: black; */
    background-color:#E90027
}
#terminos{
    width: 5%;
    height: auto;
    position: relative;
}

.etiqueta-checkbox{
    margin-left: 20px;
}

.form-password{
    display: flex;
}

/* OCULTAR Password */

#password, #confirmarPassword{
    width: 100%;
    box-shadow: none;
}

#password, #confirmarPassword,  .boton-passsword, .boton-confirmar-passsword{
    margin: 0px;
}

.boton-passsword, .boton-confirmar-passsword{
    width: 15%;
    border-radius: 0px;
    height: auto;
    background: rgb(232, 240, 254);

}

.ojoPasswordBoton{
    font-size: 1rem;
    padding: 0px;
    display: flex;
    justify-content: center;
    color: black;
}

/* CLASE OJO VER */
#mostrar-password, #mostrar-confirmar-password{
    display: none;
}

/*---------------------- */


.text-error{
    color: #E90027;
}

.errors{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .errors li{
    width: 100%;
  }



  /* --------------------------- Responsive ------------------------ */


@media (min-width: 1028px){
    main{
        display: flex;
        flex-direction: row;
    }
    #izquierda{
        display: block;
        width: 20%;
        padding: 0px;
        margin: 0px;
    }
    #triangulo1{
        width: 0px; 
        height: 0px; 
        border-left: 340px solid black;
        border-top: 170px solid transparent;
        border-bottom: 170px solid transparent; 
        rotate: 90deg;
    }
    #triangulo2{
        width: 0px; 
        height: 0px; 
        border-left: 340px solid black;
        border-top: 170px solid transparent;
        border-bottom: 170px solid transparent; 
        rotate: -90deg;
    }
    #triangulo3{
        width: 0; 
        height: 0; 
        border-right: 190px solid transparent;
        border-top: 100px solid transparent;
        border-left: 190px solid transparent;
        border-bottom: 100px solid black ;
        rotate: -90deg;
        position: relative;
        left: 100px;
        margin: -100px;
    }
    .grupo-formulario input{
        height: 2rem;
        /* width: 200px; */
    }
    /* #terminos{
        height: 1rem;
    } */
    /* #derecha{
        /* width: 50%; */
    /* } */
}