<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/not-found.css">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <br>
            <img src="/img/logo2.png" alt="" id="img1">
            <br>
            <h1>ERROR 404!</h1>
            <br>
            <h2>Página no encontrada</h2>
            <br>
            <img src="/img/grupo-azul.png" alt="" id="img2">
            <br>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>