<footer>
  <div id="Copyright">
    <h4>Copyright 2023 ConcesionariaSN</h4>
    <p>Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías,
      audio, botones, nombres comerciales y vídeo)
      están sujetos a derechos de propiedad por las leyes de Derechos de Autor </p>
  </div>
  <div id="sociales">
    <a href="https://www.facebook.com/profile.php?id=61553804900066" target="_blank"><i
        class="fab fa-facebook-f modoClaroIcon" style="color: #ffffff;"></i></a>
    <a href="https://www.instagram.com/concesionaria_sn/" target="_blank"><i class="fab fa-instagram modoClaroIcon"
        style="color: #ffffff;"></i></a>
    <a href="https://wa.me/154396973?text=Bienvenido%20a%20Concesionaria_SN%20.%20Como%20podemos%20ayudarte%20?"
      target="_blank"><i class="fab fa-whatsapp modoClaroIcon" style="color: #ffffff;"></i></a>
  </div>
</footer>