<footer>
    <div id="Copyright">
      <h4>Copyright 2023 ConcesionariaSN</h4>
      <p>Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo) 
        están sujetos a derechos de propiedad por las leyes de Derechos de Autor </p>
    </div>
    <div id="sociales">
      <a href="www.facebook.com" target="_blank"><i class="fab fa-facebook-f" style="color: #ffffff;"></i></a>
      <a href="www.instagram.com" target="_blank"><i class="fab fa-instagram" style="color: #ffffff;"></i></a>
      <a href="www.whatsapp.com" target="_blank"><i class="fab fa-whatsapp" style="color: #ffffff;"></i></a>
    </div>
  </footer>