<header>
    <div class="head">
      <img src="/img/logo2.png" alt="Logo">
        <div class="iconos">
        <a href="<% if(locals.rutaproducto){ %>
          login
      <% }else if(locals.rutaDetalle){ %>
          ../user/login
       <% }else{ %>
          user/login
     <% } %>"><i class="fas fa-user-circle" style="color: #ff0000;"></i></a>
        <a href="<% if(locals.rutaproducto || locals.rutaDetalle){ %>
          ../productCart
      <% }else{ %>
        productCart
     <% } %>"><i class="fas fa-shopping-cart" style="color: #ff0000;"></i></a>
        <a href="" id="burger"><i class="fas fa-bars" style="color: #ff0000;"></i></a> 
      </div>   
    </div>
    <div id="barra">
      <nav>
        <ul>
          <li><a href="<% if(locals.rutaproducto || locals.rutaDetalle){ %>
              ../home
          <% }else{ %>
              home
         <% } %>">Inicio</a></li>
          <li><a href="<% if(locals.rutaproducto || locals.rutaDetalle){ %>
            ../productos
        <% }else{ %>
            productos
       <% } %>">Productos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </nav>
      <form action="/" method="POST">
        <button type="submit" id="boton"><i class="fas fa-search" style="color: #ff0000;"></i></button>
        <input type="text" placeholder="Buscar..." name="Buscar" id="buscar">
      </form>
    </div>

    <video muted autoplay loop>
      <source src="/img/video.mp4" type="video/mp4">
    </video>
    <div class="capa"></div>
  </header>